<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <!-- // if we don't add enctype then unable to upload the files -->
        <form action="uploads" method="POST" enctype="multipart/form-data">
            <input type="file" name="profileImage" />
            <button type="submit">Upload</button>
        </form>
    </body>
</html>